* {
    font-family: 'Raleway';
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p, a, li {
    font-size: 16px;
}

/* Підкреслення для активного пункту меню */
ul li a.active {
    text-decoration: underline;
}

/* Анімація підкреслення для пунктів меню при наведенні */
ul li a:hover {
    position: relative;
    text-decoration: none;
}

    ul li a:hover::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform 0.3s ease-out;
    }

    ul li a:hover::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition: transform 0.3s ease-out;
    }

    ul li a:hover::before,
    ul li a:hover::after {
        transition-delay: 0.05s;
    }

    ul li a:hover::before {
        transform-origin: 100% 50%;
    }

    ul li a:hover::after {
        transform-origin: 0 50%;
    }

    ul li a:hover::before,
    ul li a:hover::after {
        transform: scaleX(1);
    }


footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10%;
}

main {
    background-color: #efefef;
}

.logo-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icons > div {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-languages {
    display: flex;
    grid-gap: 25px;
    justify-content: center;
    align-items: center;
}

.app ul {
    display: flex;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.callout {
    border-radius: 3px;
    padding: 1rem;
    margin-top: 0;
}

.block-color-gray_background {
    background: rgba(241, 241, 239, 1);
}